@using Platform_CTF.Controllers
@using PlatformCTF.Domain.Entities.User
@using PlatformCTF.Domains.Enums
@{
    ViewBag.Title = "LogedHome";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/LoggedHome.css">
    <style>
        .centered-text {
            text-align: center;
        }
    </style>
</head>
<body>
@{
    var authCookie = Request.Cookies["X-KEY"];
    UserMinimal currentUser = null;

    if (authCookie != null)
    {
        var authToken = authCookie.Value;

        var login = new LoginController();
        currentUser = login.GetUserDetails(authToken);
    }
}

<div class="sidebar" id="mySidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Scoreboard</a>
    <a href="#">Regulament</a>
    <a href="@Url.Action("Challenges", "Challenge")">Challenges</a>
    @if (currentUser?.Level == URole.Admin)
    {
        <a href="@Url.Action("AdminPanel", "Admin")">Admin Panel</a>
    }
    <a href="@Url.Action("Logout", "Login")">Logout</a>
</div>

<button class="openbtn" onclick="toggleNav()">&#9776; Menu</button>

<div class="logedHome">
    <div class="welcome-message">
        @if (currentUser != null)
        {
            <h2>Welcome, @currentUser.Username</h2>
        }
    </div>

    <div class="centered-text">
        <p>Welcome! Check the "Challanges" tab in the sidebar menu.</p>
        <p>We wish you good luck!</p>
    </div>
</div>

<script>
    function toggleNav() {
        var sidebar = document.getElementById("mySidebar");
        var openbtn = document.getElementsByClassName("openbtn")[0];
        if (sidebar.style.width === "250px") {
            closeNav();
            openbtn.style.marginLeft = "0";
        } else {
            openNav();
            openbtn.style.marginLeft = "250px";
        }
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
</script>
</body>
</html>